/* Mobile first by default */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Our  Main Container */
  .container {
    height: auto;
    display: grid;
  }
  /* ------------------------------- */
  /* Number tab */
  .number-tab {
    display: none;
  }
  /* ------------------------------- */
  /* Navbar */
  .navbar {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    /* height: 78px; */
    /* Navbar styling */
    height: auto;
    background-color: #fff;
    color: $menu-grey;
    width: 100%;
    /* position: fixed; */
    top: 0;
    margin-bottom: 0;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    // grid-template-rows: 76px;
    grid-gap: 3px;
  }
  .nav-content-inner {
    grid-row: 1 / 2;
    grid-column: 2 / 6;
    display: flex;
    align-items: center;
  }
  .menu-logo-box {
    padding: 1em 0;
  }
  .main-logo {
  }
  .nav-content-menu-box {
    grid-row: 2 / 3;
    grid-column: 2 / 8;
    display: flex;
    align-items: center;
    display: none;
}
.nav-content-menu {

}
.nav-content-menu-ul {
    display: flex;
    flex-direction: column;
  }
  .nav-content-menu-li {
    padding: 1em 1em 1em 0;
  }
  .nav-content-menu-wrapper {
    display: flex;
  }
  .nav-content-menu-text {
    color: #33475b;
    font-family: $font-bold;
    font-size: 1.05em;
  }
  .nav-content-menu-dropdown {
    padding: 0 0 0 1em;
  }
  .nav-content-menu-dropdown svg {
    fill: $icn-grey;
  }
  /* ------------------------------ */
  /* Main Content Section */
  .main-content-wrapper {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    /* Styling */
    background-size: cover;
    background-position: 50% 50%;
    // height: 580px;
    background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
    border-bottom: 3px solid #33475b;
    color: white;
  }
  .main-hero-content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
  .hero-image-box {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-size: cover;
  }
  .hero-image {
  }
  .hero-image-wrapper {}
  .hero-des-box {
    grid-row: 1 / 2;
    grid-column: 2 / 14;
    padding: 2.5em 0;
  }
  .hero-des-headline-box {
    margin: 0.5em 0;
  }
  .hero-des-headline {
    font-family: $font-bold;
    text-align: center;
    font-size: 2.375em;
    line-height: 1.1842;
  }
  .hero-des-text-box {
    padding: 1em 0;
  }
  .hero-des-text {
    font-size: 1em;
    text-align: center;
    margin: 1em 0;
  }
  .hero-des-cta-btn-box {
    background-color: #fff;
    border: 0;
    border-radius: .1875rem;
    box-shadow: 0 1px 6px rgba(0,0,0,.1), 0 2px 32px rgba(0,0,0,.2);
    transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out;
  }
  .hero-des-cta-btn-box:hover {
    background-color: $btn-white-hover;
  }
  .hero-des-cta-link {
    padding: 1.625rem 3rem;
  }
  .hero-des-cta-btn {
    font-size: 1em;
    font-family: $font-bold;
    color: $menu-grey;
    display: flex;
    justify-content: center;
  }
  .hero-tip-text-box {
    margin: 2em auto;
    text-align: center;
  }
  .hero-tip-text {
    font-size: 0.75em;
  }

  /* ------------------------------ */
  // Home Growth Stack Section
  /* ------------------------------ */
  .home-growth-stack {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    background-color: transparent;
  }
  .hgs-wrapper {
    padding: 0 2em;
  }
  .hgs-border-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0 3em 0;
  }
  .hgs-img-wrapper {}
  .hgs-img {
    max-width: 260px;
  }
  .hgs-headline-wrapper {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .hgs-headline-text {
    font-family: $font-bold;
    color: $menu-grey;
    font-size: 2em;
    line-height: 1.3125;
  }
  .hgs-des-wrapper {
    text-align: center;
  }
  .hgs-des-text {}
  /* ------------------------------ */
  /* Home Products feature */
  /* ------------------------------ */
  .home-products-feature {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    background-color: #fff;
    box-shadow: 0 0 11px #eaf0f6;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    margin: 0 0 2.5em 0;
  }
  .hpf-wrapper {
    padding: 2em;
  }
  .hpf-border-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hpf-icn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hpf-icn-wrapper {
    margin: 1.5em 0;
  }
  .hpf-icn-img {
    max-width: 100%;
  }
  .hpf-img {
    height: 150px;
  }
  .hpf-btn-wrapper {
    color: white;
    font-family: $font-bold;
    background-color: $btn-orange;
    line-height: 1.25;
    border: 0;
    border-radius: 0.1875em;
    transition: 0.15s color ease-out, 0.15s background-color ease-out,
      0.15s border-color ease-out;
  }
  .hpf-btn-link {
    font-size: 0.875em;
  }
  .hpf-btn {
    padding: 0.8em;
  }
  // HPF Des
  .hpf-des-box {
    color: $menu-grey;
    text-align: center;
  }
  .hpf-headline-wrapper {
    margin: 2em 0;
  }
  .hpf-headline-text {
    font-size: 1.375em;
    font-weight: 600;
    line-height: 1.3636;
  }
  .hpf-des-wrapper {
    margin: 1em 0;
  }
  .hpf-des-text {
    font-size: 14px;
  }
  .hpf-sub-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .hpf-sub-box {
    margin: 0 0 1em 0;
  }
  .hpf-sub-text {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .hpf-sub-line-box {
    margin: 1em 2em;
  }
  .hpf-sub-line {
    height: 1px;
    background: $border-btm;
  }
  .hpf-icn-list-box {}
  .hpf-icn-list-ul {
    display: flex;
    flex-direction: column;
  }
  .hpf-icn-list-li {}
  .hpf-icn-li-wrapper {
    display: flex;
  }
  .hpf-icn-src {}
  .hpf-icn-src svg {
    fill: $btn-orange;
    width: 18px;
    height: 18px;
  }
  .hpf-icn-text {
    padding: 0 1em 0 0.5em;
    font-size: 13px;
  }
  /* ------------------------------ */
  /* Home Feature Container */
  /* ------------------------------ */
  .home-feature-container {
    grid-row: 6 / 7;
    grid-column: 1 / -1;
  }
  .hfc-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hfc-card {
    flex: 1;
    background-color: #fff;
    margin: 1em;
  }
  .hfc-icn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hfc-icn-wrapper {
    margin: 1.5em 0;
  }
  .hfc-icn-img {
    max-width: 100%;
  }
  .hfc-img {
    height: 150px;
  }
  .hfc-btn-wrapper {
    color: white;
    font-family: $font-bold;
    background-color: $btn-orange;
    line-height: 1.25;
    border: 0;
    border-radius: 0.1875em;
    transition: 0.15s color ease-out, 0.15s background-color ease-out,
      0.15s border-color ease-out;
  }
  .hfc-btn-link {
    font-size: 0.875em;
  }
  .hfc-btn {
    padding: 0.8em;
  }
  // HPF Des
  .hfc-des-box {
    color: $menu-grey;
    text-align: center;
    padding: 0 1.5em;
  }
  .hfc-headline-wrapper {
    margin: 2em 0;
  }
  .hfc-headline-text {
    font-size: 1.375em;
    font-weight: 600;
    line-height: 1.3636;
  }
  .hfc-des-wrapper {
    margin: 1em 0;
  }
  .hfc-des-text {
    font-size: 14px;
  }
  .hfc-sub-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .hfc-sub-box {
    margin: 0 0 0.5em 0;
  }
  .hfc-sub-text {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .hfc-sub-line-box {
    margin: 1em 2em;
  }
  .hfc-sub-line {
    height: 1px;
    background: $border-btm;
  }
  .hfc-icn-list-box {}
  .hfc-icn-list-ul {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .hfc-icn-list-li {}
  .hfc-icn-li-wrapper {
    display: flex;
  }
  .hfc-icn-src {}
  .hfc-icn-src svg {
    fill: $btn-orange;
    width: 18px;
    height: 18px;
  }
  .hfc-icn-text {
    padding: 0 1em 0 0.5em;
    font-size: 13px;
  }
  /* ------------------------------ */

  /* Stats Content Section */
  /* Table Stats */
  .stats-1 {
    grid-row: 7 / 8;
    grid-column: 1 / -1;
    background-color: #575656;
  }
  /* ------------------------------ */
  /* Stats story left */
  .stats-2 {
    grid-row: 8 / 9;
    grid-column: 1 / -1;
    background-color: #6d6d6d;
  }
  /* ------------------------------ */
  /* Stats story right */
  .stats-3 {
    grid-row: 9 / 10;
    grid-column: 1 / -1;
    background-color: #757575;
  }

  /* ------------------------------ */
  /* Footer */
  .footer {
    grid-row: 10 / 11;
    grid-column: 1 / -1;
    background-color: #494949;
  }
  /* ------------------------------ */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Our  Main Container */
  .container {
    height: auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 25%;
    grid-auto-flow: dense;
  }
  /* ------------------------------- */
  /* Number tab */
  .number-tab {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
  }
  .number-tab-wrapper {
  }
  .number-tab-inner {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 74.3281px;
    grid-gap: 3px;
  }
  .number-tab-icn-box {
    grid-row: 1 / 2;
    grid-column: 3 / 7;
    display: flex;
    align-items: center;
  }
  .number-tab-icn {
  }
  .number-tab-lang-box {
    padding: 0 0 0 1em;
  }
  .number-tab-lang {
    font-size: 1.325rem;
    font-family: $font-regular;
  }
  .number-tab-dropdown {
    padding: 0 0 0 1em;
  }
  .number-tab-dropdown {
    fill: $icn-grey;
  }
  .number-tab-link {
    padding: 0em 1em;
  }
  .number-tab-num-box {
    font-size: 1.325rem;
  }
  // Button Box
  .number-tab-btn-box {
    grid-row: 1 / 2;
    grid-column: 10 / 13;
    // background-color: #353535;
    display: flex;
    align-items: center;
  }
  .number-tab-btn-list {
    list-style: none;
  }
  .number-tab-btn-li {
  }
  .number-tab-btn {
    font-size: 0.75em;
    font-weight: 500;
    padding: 0.563em 1em;
    color: white;
    background-color: $btn-orange;
    line-height: 1.25;
    border: 0;
    border-radius: 0.1875em;
    transition: 0.15s color ease-out, 0.15s background-color ease-out,
      0.15s border-color ease-out;
  }
  .number-tab-btn:hover {
    background-color: $btn-orange-hover;
  }
  /* ------------------------------- */
  /* Navbar */
  /* ------------------------------- */
  .navbar {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    /* height: 78px; */
    /* Navbar styling */
    height: auto;
    background-color: #fff;
    color: $menu-grey;
    width: 100%;
    /* position: fixed; */
    top: 0;
    margin-bottom: 0;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 76px;
    grid-gap: 3px;
  }
  .nav-content-inner {
    grid-row: 1 / 2;
    grid-column: 3 / 7;
    display: flex;
    align-items: center;
  }
  .menu-logo-box {
  }
  .main-logo {
  }
  .nav-content-menu-box {
    grid-row: 1 / 2;
    grid-column: 7 / 13;
    display: flex;
    align-items: center;
  }
  .nav-content-menu {
    
  }
  .nav-content-menu-ul {
      display: flex;
  }
  .nav-content-menu-li {
    padding: 1em 1em;
  }
  .nav-content-menu-wrapper {
    display: flex;
  }
  .nav-content-menu-text {
    color: #33475b;
    font-family: $font-bold;
    font-size: 1.05em;
  }
  .nav-content-menu-dropdown {
    padding: 0 0 0 1em;
  }
  .nav-content-menu-dropdown svg {
    fill: $icn-grey;
  }
  /* ------------------------------- */
  /* Main Hero Section */
  /* ------------------------------- */
  /* Main Section background Image*/
  .main-content-wrapper {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    /* height: 480px; */
    /* Styling */
    background-size: cover;
    background-position: 50% 50%;
    // height: 580px;
    background-image: linear-gradient(to top right, #425b76, #0091b0, #00a4bd, #7fd1de);
    border-bottom: 3px solid #33475b;
    color: white;
  }
  .main-hero-content {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
  }
  .hero-image-box {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-size: cover;
  }
  .hero-image {
  }
  .hero-image-wrapper {}
  .hero-des-box {
    grid-row: 1 / 2;
    grid-column: 3 / 8;
    padding: 5em 0;
  }
  .hero-des-headline-box {
    margin: 0.5em 0;
  }
  .hero-des-headline {
    font-family: $font-bold;
    text-align: left;
    font-size: 3.4375em;
    line-height: 1.1818;
  }
  .hero-des-text-box {}
  .hero-des-text {
    font-size: 1em;
    margin: 1em 0;
  }
  .hero-des-cta-btn-box {
    background-color: #fff;
    border: 0;
    border-radius: .1875rem;
    width: 40%;
    box-shadow: 0 1px 6px rgba(0,0,0,.1), 0 2px 32px rgba(0,0,0,.2);
    transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out;
  }
  .hero-des-cta-btn-box:hover {
    background-color: $btn-white-hover;
  }
  .hero-des-cta-link {
    padding: 1.625rem 3rem;
  }
  .hero-des-cta-btn {
    font-size: 1em;
    font-family: $font-bold;
    color: $menu-grey;
    display: flex;
    justify-content: center;
  }
  .hero-tip-text-box {
    margin: 2em auto;
    text-align: left;
  }
  .hero-tip-text {
    font-size: 0.75em;
  }

  /* ------------------------------- */
  /* Home Growth Stack Section */
  /* ------------------------------- */
  .home-growth-stack {
    grid-row: 4 / 5;
    grid-column: 4 / 12;
    background-color: transparent;
  }
  .hgs-wrapper {}
  .hgs-border-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0 3em 0;
  }
  .hgs-img-wrapper {}
  .hgs-img {
    max-width: 260px;
  }
  .hgs-headline-wrapper {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .hgs-headline-text {
    font-family: $font-bold;
    color: $menu-grey;
    font-size: 2em;
    line-height: 1.3125;
  }
  .hgs-des-wrapper {
    text-align: center;
  }
  .hgs-des-text {}
  /* ------------------------------- */
  /* Home Products feature */
  /* ------------------------------- */
  .home-products-feature {
    grid-row: 5 / 6;
    grid-column: 3 / 13;
    background-color: #fff;
    box-shadow: 0 0 11px #eaf0f6;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    margin: 0 1em .5em 1em;
  }
  .hpf-wrapper {
    padding: 2em 6em;
  }
  .hpf-border-box {
    display: flex;
    align-items: center;
  }
  .hpf-icn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .hpf-icn-wrapper {
    margin: 1.5em 0;
  }
  .hpf-icn-img {
    max-width: 100%;
  }
  .hpf-img {
    height: 150px;
  }
  .hpf-btn-wrapper {
    color: white;
    font-family: $font-bold;
    background-color: $btn-orange;
    line-height: 1.25;
    border: 0;
    border-radius: 0.1875em;
    transition: 0.15s color ease-out, 0.15s background-color ease-out,
      0.15s border-color ease-out;
  }
  .hpf-btn-link {
    font-size: 0.875em;
  }
  .hpf-btn {
    padding: 0.8em;
  }
  // HPF Des
  .hpf-des-box {
    flex: 2;
    color: $menu-grey;
    text-align: left;
    padding: 0 0 0 1em;
  }
  .hpf-headline-wrapper {
    margin: 0.5em 0;
  }
  .hpf-headline-text {
    font-size: 1.375em;
    font-weight: 600;
    line-height: 1.3636;
  }
  .hpf-des-wrapper {
    margin: 1em 0;
  }
  .hpf-des-text {
    font-size: 14px;
  }
  .hpf-sub-wrapper {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 2.5em;
  }
  .hpf-sub-box {
    
  }
  .hpf-sub-text {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .hpf-sub-line-box {
    padding: .4em .5em;
  }
  .hpf-sub-line {
    height: 1px;
    background: $border-btm;
  }
  .hpf-icn-list-box {}
  .hpf-icn-list-ul {
    display: flex;
  }
  .hpf-icn-list-li {}
  .hpf-icn-li-wrapper {
    display: flex;
  }
  .hpf-icn-src {}
  .hpf-icn-src svg {
    fill: $btn-orange;
    width: 18px;
    height: 18px;
  }
  .hpf-icn-text {
    padding: 0 1em 0 0.5em;
    font-size: 13px;
  }

  /* ------------------------------- */
  /* Home Feature Container */
  /* ------------------------------- */
  .home-feature-container {
    grid-row: 6 / 7;
    grid-column: 3 / 13;
  }
  .hfc-wrapper {
    display: flex;
    flex-direction: row
  }
  .hfc-card {
    flex: 1;
    background-color: #fff;
    margin: 1em;
  }
  .hfc-icn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hfc-icn-wrapper {
    margin: 1.5em 0;
  }
  .hfc-icn-img {
    max-width: 100%;
  }
  .hfc-img {
    height: 150px;
  }
  .hfc-btn-wrapper {
    color: white;
    font-family: $font-bold;
    background-color: $btn-orange;
    line-height: 1.25;
    border: 0;
    border-radius: 0.1875em;
    transition: 0.15s color ease-out, 0.15s background-color ease-out,
      0.15s border-color ease-out;
  }
  .hfc-btn-link {
    font-size: 0.875em;
  }
  .hfc-btn {
    padding: 0.8em;
  }
  // HPF Des
  .hfc-des-box {
    color: $menu-grey;
    text-align: center;
    padding: 0 1.5em;
  }
  .hfc-headline-wrapper {
    margin: 2em 0;
  }
  .hfc-headline-text {
    font-size: 1.375em;
    font-weight: 600;
    line-height: 1.3636;
  }
  .hfc-des-wrapper {
    margin: 1em 0;
  }
  .hfc-des-text {
    font-size: 14px;
  }
  .hfc-sub-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .hfc-sub-box {
    margin: 0 0 0.5em 0;
  }
  .hfc-sub-text {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .hfc-sub-line-box {
    margin: 1em 2em;
  }
  .hfc-sub-line {
    height: 1px;
    background: $border-btm;
  }
  .hfc-icn-list-box {}
  .hfc-icn-list-ul {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .hfc-icn-list-li {}
  .hfc-icn-li-wrapper {
    display: flex;
  }
  .hfc-icn-src {}
  .hfc-icn-src svg {
    fill: $btn-orange;
    width: 18px;
    height: 18px;
  }
  .hfc-icn-text {
    padding: 0 1em 0 0.5em;
    font-size: 13px;
  }
  /* ------------------------------- */
  /* Stats Content Section */
  /* ------------------------------- */
  .stats-1 {
    grid-row: 7 / 8;
    grid-column: 1 / -1;
    background-color: #575656;
  }
  /* ------------------------------- */
  /* Stats story left */
  .stats-2 {
    grid-row: 8 / 9;
    grid-column: 3 / 13;
    background-color: #6d6d6d;
  }
  /* ------------------------------- */
  /* Stats story right */
  .stats-3 {
    grid-row: 10 / 11;
    grid-column: 3 / 13;
    background-color: #757575;
  }
  /* ------------------------------- */
  /* Footer */
  /* ------------------------------- */
  .footer {
    grid-row: 11 / 12;
    grid-column: 1 / -1;
    background-color: #353535;
  }
}
