// Typefaces
$arial: 'Arial', sans-serif;

// Imported fonts
$font-ultra-light: "HelveticaNeueUltraLight", Arial, sans-serif;
$font-light: "HelveticaNeueLight", Arial, sans-serif;
$font-regular: "AvenirNextReg","HelveticaNeue", Arial, sans-serif;
$font-bold: "AvenirNextBold","HelveticaNeueBold", Arial, sans-serif;

// text sizes
$text-x-large: 3.4rem;
$text-large: 2.4rem;
$text-medium: 2rem;
$text-small: 1.8rem;
$text-x-small: 1.5rem;

// Global
$primary-font: $arial;
$primary-font-color: $black;
$primary-link-color: $gold;
